absl-py
gym
numpy
pybullet
matplotlib
opencv-python
meshcat
scipy
timm
scikit-image
torch==1.13
hydra-core
ftfy
torchvision
transforms3d
wandb
kornia
gym
pytorch_lightning==1.9.5
transformers
meshcat
openai==0.28.1
seaborn
trimesh
rtree
imageio-ffmpeg